*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.log
*.jou
*.nav
*.out
*.pdf
*.snm
*.toc
*.xml
*.fls
*.drawio
*.bkp
*.bit
*.zip
*_latexmk
*.txt
*.pb
*.sdb
*.rlx

tlmgr.html
fitch.sty
**/src/test
auto/
tmp/
temp/
simulator/
log/
simulation/
.Xil/
assign*
lab*
xv6*
mojo*/
comp6710*/
comp6442/
comp6300/
comp8300/
engn6213/
Digital/
