*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.log
*.jou
*.nav
*.out
*.pdf
*.snm
*.toc
*.xml
*.fls
*.drawio
*.bkp
*.zip
*_latexmk
tlmgr.html
fitch.sty
auto/
tmp/
comp6710/
comp4300*/
comp6300/lab_pack_1/
comp6300/comp2300-2024-checkpoint-1/
Digital/
