*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.log
*.jou
*.nav
*.out
*.pdf
*.snm
*.toc
*.xml
*.fls
*.drawio
*.bkp
*.zip
*_latexmk
tlmgr.html
auto/
tmp/
comp6710/
Digital/
comp6300/lab_pack_1/
*/notes/fitch.sty
